@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

:root{
    --color-theme: #FFCB05;
    --btn-width: 3.5vmax;
    --btn-height: 3vmax;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    position: relative;
}

.__virtualKeyboard-container {
    color: #f8f9fa;
    position: relative;
}

.__virtualKeyboard-container .title {
    letter-spacing: 1px;
    text-align: center;
    font-size: 3rem;
    padding: 1rem 1rem;
}

/*FORM CSS*/

.__virtualKeyboard-container .__form-container{
    display: grid;
    place-items: center;
}

.glassmorphism{
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.__virtualKeyboard-container form {
    width: 50vw;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.__virtualKeyboard-container form .form-item{
    padding: 0.5rem;
    margin-right: 0 !important;
}

.__virtualKeyboard-container form .form-item input,.__virtualKeyboard-container form .form-item textarea{
    width: 100%;
    height: auto;
    background: rgba(255,255,255,0.1);
    background-color: #e8eeef;
    border: none;
    padding: 10px;
}
.__virtualKeyboard-container form .form-item label{
    color: var(--color-theme);
    font-weight: 700;
}

.__virtualKeyboard-container form .form-item input:focus,.__virtualKeyboard-container form .form-item textarea:focus{
    outline: var(--color-theme) solid 2px;
}

@media (max-width : 576px){
    .__virtualKeyboard-container form{
        width: 80vw;
    }
}

/*FORM CSS ENDS*/

/*BTN CSS*/

.__virtualKeyboard-container .__options{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn{
    background-color: var(--color-theme);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    color: #00274c;
    font-size: 11.5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
}

.__virtualKeyboard-container .__form-container .__options .btn:nth-child(2){
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.__virtualKeyboard-container .__form-container .__options .btn:nth-child(1):hover{
    background-color: #fff;
    clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%);
}

.__virtualKeyboard-container .__form-container .__options .btn:nth-child(2):hover{
    color: #000;
    background-color: #fff;
}

@media (max-width : 576px){
    .btn{
        padding: 0.7rem 0.75rem;
    }
}

/*BTN CSS ENDS*/

/*VIRTUAL KEYBOARD CSS*/

.__virtualKeyboard-container .keyboard{
    background-color: #1d1d1d;
    /* width: 95vw; */
    margin-left: auto;
    margin-right: auto;
    height: auto;
    z-index: 999;
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%,0);
    padding: 15px;
}

.__virtualKeyboard-container .keyboard .row_1{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.__virtualKeyboard-container .keyboard .row_1 .key:last-child{
    width: calc(var(--btn-width) * 3);
}

.__virtualKeyboard-container .keyboard .key{
    background-color: transparent;
    border: none;
    color: #fff;
    background-color: rgb(53, 57, 53);
    width: var(--btn-width);
    height: var(--btn-height);
    /* padding: 1rem 0; */
    /* padding: 1rem 2rem; */
    cursor: pointer;
}

.__virtualKeyboard-container .keyboard .key:hover{
    background-color: rgba(53, 57, 53,0.7);
}

.d-none{
    display: none;
}

@media (min-width:576px){
    .d-sm-block{
        display: block;
    }
}

/*VIRTUAL KEYBOARD CSS ENDS*/

/*CARD CSS*/

.__card-container{
    position: relative;
    min-height: 100vh;
    color: #fff;
}

.__card-container .card{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.__card-container .card #header, .__card-container .card #content{
    padding: 1rem;
}

.__card-container .card #header .header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__card-container .card #header .header_content .fullname{
    text-transform: uppercase;
    color: var(--color-theme);
    font-weight: bold;
}

.__card-container .card #header .header_content .btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    text-align: center;
    padding: 0;
}

@media (max-width:576px) {
    .__card-container .card{
        width: 90%;
    }
}

/*CARDS CSS ENDS*/

/*UTILITY CSS*/

.col-6{
    width: 50%;
}
.col-12{
    width: 100%;
}

.pe-0{
    padding-right: 0 !important;
}

.ps-0{
    padding-left: 0 !important;
}

/*UTILITY CSS ENDS*/